body {
  font: normal 1.6rem var(--main-font);
  background: var(--background-base);
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: lightcoral;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70rem;
  height: 60rem;
  margin: 2rem;
  padding: 1rem;
  background: transparent;
  background-color: white;
  border-radius: 1rem;
}
