body {
  font: normal 1.6rem var(--main-font);
  background: var(--background-base);
  margin: 0;
}

.App {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: lightcoral;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70rem;
  height: 60rem;
  margin: 2rem;
  padding: 1rem;
  background: transparent;
  background-color: white;
  border-radius: 1rem;
  transition: 300ms ease-out;

  @media screen and (max-width: 560px) {
    width: 95vw;
    height: auto;
    margin: 2rem;
  }
}

button {
  all: unset;
}
