$font-size: 10px;
$main-font: 'Roboto', sans-serif;
$border-radius: 4px;
$background-base: linear-gradient(to right, #c94b4b, #4b134f);

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --border-radius: #{$border-radius};
  --background-base: #{$background-base};
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media screen and (max-width: 980px) {
    font-size: 58%;
  }

  @media screen and (max-width: 480px) {
    font-size: 55%;
  }
}
